<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <script src="main.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header class="header">
        <div class="containers">
            <div class="btn-menu">
            <label for="btn-menu">☰</label>
            </div>
                <nav class="menu">
                    <a href="#">Inicio</a>                  
                </nav>
        </div>
    </header>
    <div class="capa"></div>
    <!--	--------------->
    <input type="checkbox" id="btn-menu">
    <div class="container-menu">
        <div class="cont-menu">
            <nav>
                <a href="#">Nuevo producto</a>
                <a href="#">Lista producto</a>             
            </nav>
            <label for="btn-menu">X</label>
        </div>
    </div>
    <div class="container listProduct" >
        <div class="row">
            <!-- Elementos generados a partir del JSON -->
            <main id="items" class="col-sm-8 row"></main>
            <!-- Carrito -->
            <aside class="col-sm-4">
                <h2>Agregar productos</h2>
                <!-- Elementos del carrito -->
                <ul id="carrito" class="list-group" style="margin:1em"></ul>
                <hr>
                <!-- Precio total -->
                <p class="text-right">Total: $<span id="total"></span></p>
                <button id="boton-vaciar" class="btn btn-danger">Vaciar</button>
                <button class="btn btn-primary">Pagar</button>
            </aside>
        </div>
    </div>
</body>
</html>
